 body {
	 background-color: #d5a6bd; /* Yeah I'm gonna... I'm gonna want to change this. */
	 font-family:"Trebuchet MS";
}
h1 {
	color: black;
	font-size: 300%;
}
h2 {
}
h3 {
}
p {
}
a {
	color: black;
	font-size: 200%;
	text-decoration: none;
}
a:link, a:visited {
	color: black;
	text-align: center;
	text-decoration: none;
}

a:hover, a:active {
  background-color: blue;
}
.navbar {
	background-color: #00ffff ;
	border: 1px solid green ;
    display: inline-block;
}
.trollplay {
	 font-family: "Georgia";
	 color: fuchsia;
	 font-size: 300%;
}
