 body {
	 background-color: #d5a6bd; /* Yeah I'm gonna... I'm gonna want to change this. EDIT: Nevermind this colour rules! */
	 font-family:"Trebuchet MS";
}
p {
	color: black;
	font-size: 1.5%;
}
a {
	color: black;
	text-decoration: none;
}
a:link, a:visited {
	color: black;
	text-align: center;
	text-decoration: none;
}
a:hover, a:active {
  color: blue;
}
#navbar { /* Handles the top navbar */
	font-family: "Georgia";
	background-color: blue;
	border: .2% solid green;
	max-height: 9%;
	max-width: 96%;
	padding: 1%;
	text-align: center;
}
#navbar a {
	padding: 2%;
}
a.trollplay { /* Handles just the logo */
	color: fuchsia;
	font-size: 6%;
}
a.maintop { /* handles all of the other links in the navbar */
	color: yellow;
	font-size: 1.5%;
}
.imgbox {
	float: right;
	border: .2% solid green;
	text-align: center;
}
.imgbox img {
  max-width: 6%;
  height: auto;
  padding: 0.5%;
}
.imgbox p {
	color: black;
	font-size: .6%;
	font-weight: bold;
}
